nanoContextXML/src/main/xsd/ctx.xsd

<?org.nanocontext.xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:workspace="http://nanocontext.org/v1/schema/ctx"
           targetNamespace="http://nanocontext.org/v1/schema/ctx">

    <xs:element name="beans">
        <xs:complexType>
            <xs:sequence>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="workspace:properties"/>
                </xs:sequence>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="workspace:artifact"/>
                </xs:sequence>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="workspace:bean"/>
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="value" type="xs:string"/>
    <xs:element name="bean" type="workspace:BeanType"/>
    <xs:element name="list" type="workspace:ListType"/>
    <xs:element name="ref" type="workspace:ReferenceType"/>
    <xs:element name="properties" type="workspace:ResourceType"/>
    <xs:element name="properties-ref" type="workspace:PropertiesReferenceType"/>
    <xs:element name="artifact" type="workspace:ResourceType"/>

    <xs:complexType name="ResourceType">
        <xs:choice>
            <xs:element name="classpath">
                <xs:complexType>
                </xs:complexType>
            </xs:element>
            <xs:element name="resource" type="xs:anyURI"/>
        </xs:choice>
        <xs:attribute name="id" type="xs:string" use="required" />
    </xs:complexType>

    <xs:group name="constructor-args">
        <xs:choice>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="constructor-arg" type="workspace:ConstructorArgType"/>
            </xs:sequence>
        </xs:choice>
    </xs:group>

    <xs:complexType name="BeanType">
        <xs:group ref="workspace:constructor-args"/>
        <!--
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="constructor-arg" type="workspace:ConstructorArgType"/>
        </xs:sequence>
        -->

        <xs:attribute name="id" type="xs:string" use="optional"/>
        <xs:attribute name="class" type="xs:string" use="required"/>
        <xs:attribute name="scope" type="workspace:ScopeType" use="optional"/>
        <xs:attribute name="artifact" type="xs:string" use="optional" />
        <xs:attribute name="lazy-load" type="xs:boolean" use="optional" default="true"/>
        <xs:attribute name="factory" type="xs:string" use="optional" />
        <xs:attribute name="factory-class" type="xs:string" use="optional" />
        <xs:attribute name="factory-method" type="xs:string" use="optional" />
        <xs:attribute name="active" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="activate-method" type="xs:string" use="optional"/>
        <xs:attribute name="initialize-method" type="xs:string" use="optional"/>
        <xs:attribute name="finalize-method" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="ListType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:choice>
                <xs:element ref="workspace:bean"/>
                <xs:element ref="workspace:value"/>
                <xs:element ref="workspace:list"/>
                <xs:element ref="workspace:ref"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ReferenceType">
        <xs:attribute name="bean" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="PropertiesReferenceType">
        <xs:attribute name="properties-id" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="ConstructorArgType">
        <xs:choice>
            <xs:element ref="workspace:bean"/>
            <xs:element ref="workspace:value"/>
            <xs:element ref="workspace:list"/>
            <xs:element ref="workspace:ref"/>
            <xs:element ref="workspace:properties-ref"/>
        </xs:choice>
        <xs:attribute name="index" type="xs:int" use="optional"/>
    </xs:complexType>

    <xs:simpleType name="ScopeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="prototype" />
            <xs:enumeration value="singleton" />
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
